// main
.container {
    max-width: 69.375rem; // 1110px
    margin: 0 auto;
}


//Visibility
.hide-for-mobile {
    @include breakpoint-down(large) {
      display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}
