@property --color-hue {
    syntax: "<number>";
    initial-value: 0;
    inherits: true;
}

@keyframes color-hue {
    from { --color-hue: 0; }
    to { --color-hue: 360; }
}

.button {
    --_color: var(--color, black);
    // border: 0.1rem solid var(--_color);
    background: transparent;
    color: var(--_color);
    transition: 800ms ease-in-out;
    padding: 8px 20px;
    border-radius: 1.25rem;
    font-size: 14px;
    &:hover {
        opacity: 0.75;

        //background: var(--_color);
        //box-shadow: 0 0 0 1em var(--_color) inset;
        //color: var(--white);
    }

    &[data-type="pink"] {
        --color: #f06;
    }

    &[data-type="rainbow"] {
        --color: hsl(var(--color-hue) 60%, 50%);
        animation: 5s color-hue linear infinite;
    }
    &[data-type="main"] {
        color: var(--white);
        background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    }
}