/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and border */
*:where(:not(iframe, canvas, img, svg. video):not(svg *)) {
  margin: 0;
  border: 0;
}

/* Prevent font size inflation */
html {
  height: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* iOS fixi */
  height: -webkit-fill-available;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding-left: 0;
}

/* Set core body defaults */
body {
  text-rendering: optimizedSpeed;
  min-height: 100vh;
  /* iOS fix */
  min-height: -webkit-fill-available;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
:where(h1, h2, h3, h4, button, input, label) {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
:where(a, a:visited):not([class]) {
  touch-action: manipulation;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.1em;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg{
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

:active:not(:focus-visible) {
  outline: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations and transitions for
  people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto !important;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
