$colors: (
  'dark-blue': hsl(233, 26%, 24%),
  'lime-green': hsl(136, 65%, 51%),
  'bright-cyan': hsl(192, 70%, 51%),
  'grayish-blue': hsl(233, 8%, 62%),
  'light-grayish-blue': hsl(220, 16%, 96%),
  'veryLight-gray': hsl(0, 0%, 98%),
  'white': hsl(0, 0%, 100%),
);

// 640px, 1024px, 1400px
$breakpoints-up: (
  "medium": 40rem,
  "large": 64rem,
  "xlarge": 87.5rem
);

// 639px, 1023px, 1399px
$breakpoints-down: (
  "small": 39.9375rem,
  "medium": 63.9375rem,
  "large": 87.4375rem
);

$zIndex: (
  'z-back': -10,
  'z-normal': 1,
  'z-tooltip': 10,
  'z-fixed': 100,
  'z-modal': 1000
);

$fontsSize: (
  'font-size-sm':  0.875rem, // 14px
  'font-size-md': 1.125rem, // 18px
  'font-size-lg': 1.25rem,  // 20px
  'font-size-xlg': 3.25rem,  // 52px
);

$fontsWeight: (
  'font-weight-thin': 300,
  'font-weight-regular': 400,
  'font-weight-bold': 700,
);

$fontsHeading: (
  'h1-size': 2.31rem,
  'h2-size': 1.5rem,
  'h3-size': 1.25rem,
  'h4-size': .9rem,
);

$fontsFamily: (
  'font-snigle': 'Sniglet', 
  'font-rubik': 'Rubik',
  'font-patua': 'Patua One',
  'font-lobster': 'Lobster',
  'font-acme': 'Acme',
  'font-public-sans': 'Public sans',
);

$buttons: (
  "button-border-width": 1px,
  "button-border-raadius": 8px
);


:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  @each $key, $val in $zIndex {
    --#{$key}: #{$val};
  }

  @each $key, $val in $fontsSize {
    --#{$key}: #{$val};
  }

  @each $key, $val in $fontsWeight {
    --#{$key}: #{$val};
  }

  @each $key, $val in $fontsHeading {
    --#{$key}: #{$val};
  }

  @each $key, $val in $fontsFamily {
    --#{$key}: #{$val};
  }

  @each $key, $val in $buttons {
    --#{$key}: #{$val};
  }
}

@each $name, $color in $colors {
    .bg-#{$name} {
      background-color: var(--#{$name});
  }
  
}
