@use "../global/tokens" as *;
@use "../global/mixins" as bp;

@each $key, $value in $textAlign {
    .text-#{$key} {
        text-align: #{$value};
    }
    
}

@each $key, $value in $textAlign {
    @include bp.breakpoint-up(medium) {
        .text-#{$key}--md {
            text-align: #{$value};
        }
    }
    @include bp.breakpoint-up(large) {
        .text-#{$key}--lg {
            text-align: #{$value};
        }
    }
}

@each $key, $value in $tokenSize {
    .text-size-#{$key} {
        font-size: #{$value};
    }
}

$lines: 1, 2, 3, 4, 5;

@each $line in $lines {
    .ellipsis-#{$line} {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: #{$line};
                line-clamp: #{$line}; 
        -webkit-box-orient: vertical;
    }
}
