@use '../global/mixins' as bp;

/**
 * Visually hides element from users
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.hide {
  display: none;
}
  
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}


//Visibility
.hide-for-mobile {
  @include bp.breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include bp.breakpoint-up(medium) {
      display: none;
  }
}
