/* Google fonts */ 
/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400:700&display=swap'); */

/* set layer to follow CUBE methodology */
@layer global, composition, blocks, utilities;


/* Files Settings
* Files setting of imports
*/
@import "settings/core";

/* Files Tools
* Mixin of render and utilities
*/
@import "tools/core";


/* Files Global */
@import "global/core";


/* Files composition 
* This class have layout functionality
*/
@import "composition/core";


/* Files Utilities 
* Have one job to do
*/
@import "utility/core";

/* Files Block
* Files Component and user intertface elements
*/
@import "block/core";




/** family */
@font-face {
  font-family: 'Public sans';
  src: url('../assets/fonts/PublicSans-Light.ttf') format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Public sans';
  src: url('../assets/fonts/PublicSans-Regular.ttf') format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Public sans';
  src: url('../assets/fonts/PublicSans-Bold.ttf') format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Public sans';
  src: url('../assets/fonts/PublicSans-Black.ttf') format("truetype");
  font-weight: 900;
  font-display: swap;
}
  

