/* Google fonts */ 
/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400:700&display=swap'); */

/* set layer to follow CUBE methodology */
@layer global, layout, blocks, utilities;

/* Files Global */
@import "global/tokens";
@import "global/reset";
@import "global/mixins";
@import "global/global";


/* Files Layout */
@import "layout/center";
@import "layout/fifty";
@import "layout/flex";
@import "layout/grid";
@import "layout/layout";
@import "layout/sidebar";
@import "layout/utilities";

/* Files Block */



/* Files Utilities */
@import "utilities/animation";
@import "utilities/click-area";
@import "utilities/margin";
@import "utilities/padding";
@import "utilities/scroll-container";
@import "utilities/typography";
@import "utilities/visually-hidden";
@import "utilities/width";

/* Files Component */
@import "components/header.scss";
@import "components/footer.scss";
@import "components/button.scss";


/** family */
@font-face {
  font-family: 'Public sans';
  src: url('../assets/fonts/PublicSans-Light.ttf') format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Public sans';
  src: url('../assets/fonts/PublicSans-Regular.ttf') format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Public sans';
  src: url('../assets/fonts/PublicSans-Bold.ttf') format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Public sans';
  src: url('../assets/fonts/PublicSans-Black.ttf') format("truetype");
  font-weight: 900;
  font-display: swap;
}
  

