//- articles.pug component


include ./_card.pug

section.bg-veryLight-gray
    .article.container.px-10.pt-15.pb-15.px-0--lg
        .article_header 
            h2.title.text-size-12.mb-5 Latest Article 
        div(class="article_body flow--only-sm flex@lg")
            +card("./assets/image-currency.webp", 
                    "Receive money in any currency with no fees", 
                    "The world is getting smaller and we’re becoming more mobile. So why should you be forced to only receive money in a single …")
            +card("./assets/image-restaurant.webp", 
                    "Treat yourself without worrying about money", 
                    "Our simple budgeting feature allows you to separate out your speding and realistic limits each month. That means you...")
            +card("./assets/image-plane.webp", "Take your Easybank card wherever you go", 
                    "We want you to get your travels. This is whya we don't charge any fees on purchases while you're abroad. We'll even show you...")
            +card("./assets/image-confetti.webp", "Online tinvite-only Beta accounts are now live!", 
                    "After a lot of hard work by the whole team, we're excited to launch our closed beta. It's easy to request an invite through the site...")

    