footer.footer
    .container
        a(href='#').footer__logo
    .footer__social
        a(href='#' alt='Facebook')
        a(href='#' alt='Instagram')
        a(href='#' alt='Twitter')
        a(href='#' alt='Pinterest')
        a(href='#' alt='Youtube')

    .footer__links.col1
        a(href='#') About Us
        a(href='#') COntact
        a(href='#') Blog

    .footer__links.col2
        a(href='#') Careers
        a(href='#') Support
        a(href='#') Privacy Policy

    .footer__cta
        a(href='#').button Request Invitation

    .footer__copyright &copy; EasyBank. All Rights Reserved

.attribution Challange 
    a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor.
    | Coded by 
    a(href="#") Gabriel Carrasco

