//- footer.pug footer component

//- imports
include ../mixins/_svgDispatcher.pug

//- variables
- var footerCol1 = ['About Us', 'Contact', 'Blog']
- var footerCol2 = ['Careers', 'Support', 'Privacy Policy']
- var socialLinks = ['Facebook', 'Instagram', 'Twitter', 'Pinterest', 'Youtube']

//- style class
- var footer = "bg-dark-blue text-white p-12 text-center | footer"
- var linkList = "flex column text-size-5 text-white | link-list col1"

footer(class=footer)
    div(class="footer_wrapper container flex@lg")
        .sub-section1.mr-30--lg
            .mb-12.inline-block
                a(href='#')
                    img(src="./assets/logo-white.svg", alt="Logo in Foooter")
            .flex.justify-center.mb-7.social
                a.item(href="#" alt="Facebook")
                    +svgIcon('facebook')
                a.item(href="#" alt="Instagram")
                    +svgIcon('instagram')
                a.item(href="#" alt="Twitter")
                    +svgIcon('twitter')
                a.item(href="#" alt="Pinterest")
                    +svgIcon('pinterest')
                a.item(href="#" alt="Youtube")
                    +svgIcon('youtube')
        .sub-section2
            nav.flex.column.mb-10.navigation
                ul.linkList
                    each item in footerCol1
                        a(href='#' class='text-white | link')= item

                ul.linkList
                    each item in footerCol2
                        a(href='#' class='text-white | link')= item

        .sub-section3
            .cta
                a(href='#' type="button" data-type="main").button Request Invitation

            .text-size-3.text-white.copyright.mt-10 &copy; EasyBank. All Rights Reserved


