//- header.pug  header component

//- variables
- var navItems = ['Home', 'About', 'Contact', 'Blog', 'Careers'];

header.header
    .overlay.has-fade
    nav.container.flex.justify-between.items-center.py-5
        a(href="/").header__logo
            img(src="./assets/logo.svg", alt="Easy Bank Logo")
        a(href="#")#btnHamburger.header__toggle.hide-for-desktop
            span
            span
            span

        .header__links.hide-for-mobile
            each item in navItems
                a(href='#')= item

        a(href="#" type="button").button.header__cta.header__cta--rainbow Request Invite
        
    .header__menu.has-fade.hide-for-desktop
        each item in navItems
            a(href="#")= item
