//- hero.pug component


div(class='hero flex@lg row-reverse@lg')
    div(class='hero_thumbnail')
    div(class='hero_body px-10 px-18--lg flex@lg column@lg justify-center@lg')
        h1.text-center.mb-5.title.text-left--lg Next generation digital banking
        p.mb-0.text-size-4.text-justify.description Take your finaltial life online. Your Easybank account  will be a one-stop for spending, saving, budgeting, investing and much more
        .cta.text-center.my-10.text-left--lg
            a(href='#' type="button" data-type="main").button Request Invite