//- hero.pug component


.hero.flex.column
    .thumbnail
    .body
        h1.text-center.mb-5.title Next generation digital banking
        p.px-10.text-size-4.text-justify.description Take your finaltial life online. Your Easybank account  will be a one-stop for spending, saving, budgeting, investing and much more
        .cta.text-center.my-10
            a(href='#' type="button" data-type="main").button Request Invite