.header {
    box-shadow: 0 -7px 12px 0px var(--black);
    .logo {
        height: 22px;
    }
    .btnToggle { //mobile menu
        width: 1.625rem;
        gap: 5px;
        > span {
            height: 2px;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;
        }
    }
    .menu-mobile {
        display: none;
        height: 100vh;
        background-image: linear-gradient(var(--dark-blue), transparent);
        z-index: var(--z-tooltip); // 10
    }
    .menu-links {
        gap: var(--token-size-10);
        .item {
            transition: color 300ms ease-in-out;
            &:hover {
                color: var(--dark-blue);
                &::before {
                    opacity: 1;
                }
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 5px;
                background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
                opacity: 0;
                left: 0;
                right: 0;
                bottom: -25px;
                transition: opacity 300ms ease-in-out;
            }
        }
    }


    // Hamburger open styles
    &.open {
        .btnToggle {
            > span:first-child {
                transform: rotate(45deg);
            }
            > span:nth-child(2) {
                opacity: 0;
            }
            > span:last-child {
                transform: rotate(-45deg);
            }
        }

        .menu-mobile {
            display: block;
        }
    }

}

