@use '../global/mixins' as bp;

.hero {
    &_thumbnail {
        min-height: 55vh;
        background: url(../assets/image-mockups.webp) no-repeat bottom, 
                    url(../assets/bg-intro-mobile.svg) no-repeat top;
        background-size: cover;

    }
}

@include bp.breakpoint-up(large) {
    .hero {
        &_thumbnail {
            min-width: 60%;
            min-height: 80vh;
            background: url(../assets/image-mockups.webp) no-repeat bottom 60% right 30%, 
                    url(../assets/bg-intro-desktop.svg) no-repeat bottom left 14%
        }
    }

}