/**
 * Default flexbox utility classes to control layout
 *
 * --layout-gap: set the gap between the child elements (horizontal & vertical)
 * --layout-direction: sets flex-direction
 * --layout-align: sets align-items
 */
 :root {
  --layout-gap: 0;
  --layout-direction: row;

  --layout-align: center;
  --layout-items-align: center;
  --layout-self-aling: center;

  --layout-justify: center;
  --layout-item-justify: center;
  --layout-self-justify: center;
}



@include render('flex') {

.flex {
  display: flex;
  flex-direction: var(--layout-direction);
  gap: var(--layout-gap);
}

.column {
  --layout-direction: column;
  flex-direction: var(--layout-direction);
}

.row {
  flex-direction: var(--layout-direction);
}

.column-reverse {
  --layout-direction: column-reverse;
  flex-direction: var(--layout-direction);
}

.row-reverse {
  --layout-direction: row-reverse;
  flex-direction: var(--layout-direction);
}

.content-center {
  align-content: var(--layout-align);
}

.content-start {
  --layout-align: start;
  align-content: var(--layout-align);
}

.content-end {
  --layout-align: end;
  align-content: var(--layout-align);
}

.items-center {
  align-items: var(--layout-items-align);
}

.items-start {
  --layout-items-align: flex-start;
  align-items: var(--layout-items-align);
}

.items-end {
  --layout-items-align: flex-end;
  align-items: var(--layout-items-align);
}
.justify-center {
  justify-content: var(--layout-justify);
}
.justify-start {
  --layout-justify: start;
  justify-content: var(--layout-justify);
}

.justify-end {
  --layout-justify: end;
  justify-content: var(--layout-justify);
}

.justify-between {
  --layout-justify: space-between;
  justify-content: var(--layout-justify);
}

.flex-columm {
  --layout-direction: column;
  @extend .flex;
}

.flex-row-reverse {
  --layout-direction: row-reverse;
  @extend .flex;
}



@include breakpoint-up(large) {
  .flex\@lg {  
    display: flex;
    flex-direction: var(--layout-direction);
    gap: var(--layout-gap);
  }
  .row\@lg {
    --layout-direction: row;
  }
  .row-reverse\@lg {
    --layout-direction: row-reverse;
  }
  .column\@lg {
    --layout-direction: column;
    flex-direction: var(--layout-direction);
  }
  .column-reverse\@lg {
    --layout-direction: column-reverse;
  }
  .justify-center\@lg {
    --layout-justify: center;
    justify-content: var(--layout-justify);
  }
  .row\@lg {
    --layout-direction: row;
    flex-direction: var(--layout-direction);
  }
}

/**
 *  Utility classes to control the shared --layout-X properties amongst the
 *  layout classes
 */

/* Flex direction */
.--column {
  --layout-direction: column;
}
.--row {
  --layout-direction: row;
}
.--row-reverse {
  --layout-direction: row-reverse;
}
/* helpers around the cross axis */
.--start {
  --layout-align: flex-start;
}
.--end {
  --layout-align: flex-end;
}
.--center {
  --layout-align: center;
}
.--stretch {
  --layout-align: stretch;
}

}
